<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	
	<bean id="studentbean" class="com.smesession.sf.Student">
		<!--  Setter Injection -->
		<property name="name" value="A"></property>
		<property name="age" value="47"></property>
		<property name="mobileNumber" value="123456789"></property>
	</bean>
	
	<bean id="studentbean2" class="com.smesession.sf.Student">
		<!--  Construction Injection -->
		<constructor-arg  value="B"></constructor-arg>
		<constructor-arg value="987654321"></constructor-arg>
	</bean>

</beans>

